.home-info {
    padding: 10px;
}

.home-info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 285px;
    height: 325px;
    padding: 15px;
}

.home-info h3 {
    text-align: center;
}