/** @format */
nav {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    border: 1px;
    padding: 1px;
    background-color: black;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.1s ease;
  }
  
  nav:target {
  
    transform: translateY(0);
  
  }
  
  @media screen and (min-width: 700px) {
  
    nav {
      position: static;
      height: auto;
      transform: translateY(0);
      width: 100%;
    }
  
    .hamburger,
    .close {
      display: none;
    }
  
    nav li {
      display: inline-block;
    }
    
  }

  @media screen and (max-width: 699px) {

    .twitter {
        display: none;
    }

    .close {
        position: absolute;
        left: 0;
        top: 0;
    }

    .menu {
        padding-top: 20px;
    }
    
  }
  
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  nav > ul a {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    padding: 2px;
    margin: 2px;
    color: gold;
    display: block;
  }
  
  nav > ul a:link {
    color: gold;
    background-color: black;
  }
  
  nav > ul a:hover {
    color: black;
    background-color: gold;
  }

  .twitter {
    position: absolute;
    left: 0;
    top: 0;
   }